<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static',filename='newsite.css')}}">
    <title></title>
  </head>
  <body>
    <div class="container">
      <img src="{{url_for('static',filename='lightwall.jpg')}}" class="showback">
      <ul class="ul">
        <li class="li"><a href="Home.html" style="padding-left:600px;">home</a></li>
        <li class="li"><a href="Home.html">services</a></li>
        <li class="li"><a href="Home.html">blog</a></li>
        <li class="li"><a href="Home.html">contact</a></li>
          <div class="page">
            <p class="h5">Doing right thing.</p>
            <p class="h5">At the right time.</p><br>
            <p class="ipage">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
               sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
               ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
               ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                 laborum.
            </p>
        </div>
      </ul>
    </div>
  </body>
</html>
